extends ../components/layout/_layout.pug

block title
    title #{title}

block state
    input(type="checkbox",id="calltoaction")

block content
    label Personeelszaken | verlof
    h1 Verlof aanvragen
    p Uw heeft ieder jaar recht op vakantie-uren en vakantiegeld. Daarnaast mag u gebruikmaken van verschillende soorten verlof, zoals zwangerschapsverlof, ouderschapsverlof en zorgverlof. Elk verlof heeft zijn eigen wettelijke regels waar u zich aan moeten houden.
    
    label(for="calltoaction", class="button") Aanvraag indienen
    
    input(type="checkbox",id="sec1",class="accordian__item") 
    h2 
        label(for="sec1") Verlof/Vakantie
    p Volgens de wet heeft uw werknemer elk jaar recht op minimaal 4 keer het aantal uren dat hij per week werkt. Als iemand 32 uur per week werkt, heeft hij dus recht op 128 vakantie-uren per jaar. Dit zijn de wettelijke vakantie-uren. Als u met uw werknemers meer <a href="#">vakantie-uren</a> heeft afgesproken, dan zijn dat de zogenaamde bovenwettelijke vakantie-uren. Uw werknemer heeft ieder jaar wettelijk recht op vakantiegeld (ook wel vakantiebijslag of vakantietoeslag genoemd). Dit is minimaal 8% van het bruto jaarsalaris en kan alleen minder zijn als dat in uw cao staat.
    
    h2 Zwangerschap
    p Als een werknemer zwanger is, heeft zij recht op zwangerschapsverlof en bevallingsverlof. Het totale verlof duurt minimaal 16 weken. Tijdens het zwangerschaps- en bevallingsverlof betaalt UWV het loon van uw werknemer. De periode tot en met de bevalling is het zwangerschapsverlof. Uw werknemer mag kiezen of zij 6 of 4 weken voor de uitgerekende bevallingsdatum met verlof gaat. Kiest ze voor 4 weken, dan heeft ze nog 2 weken extra bevallingsverlof. Wordt de baby na de uitgerekende bevallingsdatum geboren, dan wordt de tijd tussen de uitgerekende datum en de bevalling bij het zwangerschapsverlof geteld. Dit verlof kan daardoor langer duren dan 6 weken. Het totale verlof kan daardoor samen meer dan 16 weken kan zijn.
    
    h2 Kraamverlof
    p Uw werknemer heeft recht op 2 dagen betaald kraamverlof als zijn of haar echtgenote of partner is bevallen. Voor de bevalling zelf kan uw werknemer calamiteitenverlof opnemen. Uw werknemer mag daarnaast 3 dagen ouderschapsverlof opnemen. Dit is onbetaald verlof, tenzij het anders is afgesproken in de arbeidsovereenkomst of in de cao.
    
    h2 Ouderschapsverlof
    p Om meer tijd te besteden aan de zorg voor de kinderen, mag uw werknemer ouderschapsverlof opnemen.
    
    a(name="aanvraagformulier")
    form 
        fieldset
            div(class="questions")
                h2 Aanvraagformulier
                p Gebruik het formulier om je verlof aan te vragen.
                input(type="radio",name="questions",class="question__selector",checked)
                div(class="question")
                    label(data-moreInformation="Wat voor soort verlof wil je aanvragen?") Soort
                    select(class="question__answer")
                        option Verlof/vakantie
                        option Zwangerschapsverlof
                        option Ouderschapsverlof
                        option Zorgverlof
                input(type="radio",name="questions",class="question__selector")
                div(class="question")
                    label(data-moreInformation="Vanaf welke datum wil je het verlof aanvragen?") van
                    input(type="datetime-local",class="question__answer",value="2017-04-01T12:00" )
                input(type="radio",name="questions",class="question__selector")
                div(class="question")
                    label(data-moreInformation="Tot en met wanneer moet het verlof gelden?") tot
                    input(type="datetime-local",class="question__answer",value="2017-04-01T12:00")
                input(type="radio",name="questions",class="question__selector")
                div(class="question")
                    label(data-moreInformation="Hoeveel uur betreft de verlofaanvraag?") Aantal uur
                    input(type="number",value=0,class="question__answer")
                input(type="radio",name="questions",class="question__selector")
                div(class="question")
                    label(data-moreInformation="Zijn er nog opmerkingen of bijzonderheden die je bij de aanvraag wil vermelden?") Bijzonderheden
                    textarea(class="question__answer") vul hier je opmerking in
                input(type="radio",name="questions",class="question__selector")
                div(class="question",class="question__answer question__answer--text")
                    div Na versturen zal je aanvraag door de afdeling HR verwerkt worden. Het kan tot 5 werkdagen duren voordat je via de mail bevestiging krijgt.
                    
                    button(class="button question__send") Verzoek versturen

    