$FontFamily : "Segoe UI", sans-seriif;

$colors-green: #5AAF41;
$colors-white : #fff;
$colors-gray-dark : #333;
$colors-gray-lightest: #f2f2f2 ;

$color-accent : $colors-green;
$color-neutral-dark: $colors-gray-dark;
$color-text-light : $colors-white;
$color-background: $colors-gray-lightest;