@import "_0-config.scss";
/*
    2. ADD THE COOL

    keywords: focus on content and CTA, advanced ui elements, simple transitions,


*/
body.step2 {
    a {
        display: inline-block;
        position: relative;
        text-decoration: none;

        &:after, &:before {
            border-bottom: 1px solid darken($color-accent,10%);
            bottom: 0;
            content: "";
            display: inline-block;
            height: 2px;
            left: 0;
            position: absolute;
            transition: all 0.15s ease-out;
            width: 0;
        }

        &:before {
            border-bottom-color: $color-accent;
            border-bottom-style: dashed;
            width: 100%;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    .button {
        background-color: $color-accent;
        border: 0;
        color: $color-text-light;
        cursor: pointer;
        display: inline-block;
        padding: 0.5rem;

        &:hover {
            background-color: darken($color-accent,10%);
        }
    }



    form h2 {
        margin-top: 0;
    }



    .accordian {
        &__item {
            display: none;

            + h2 {
                label {
                    cursor: pointer;

                    &:before {
                        content: "\005e";
                        color: $color-accent;
                        display: inline-block;
                        margin-right: 0.5rem;
                        transform: rotate(90deg);
                        transition: all 0.25s;
                    }
                }
            }

            + h2 + p {
                border-bottom: 1px solid $color-neutral-dark;
                display: block;
                height: 100%;
                padding-bottom: 0rem;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all 0.25s;
            }

            &:checked {
                + h2 + p {
                    border-bottom-color: $color-accent;
                    max-height: 500px;
                    opacity: 1;
                    padding-bottom: 2rem;
                }

                + h2 label:before {
                    transform: rotate(180deg);
                }
            }
        }
    }
}